/* 
  Breakpoints:
  320 - 960px -- handheld
  960+ -- desktop   
*/

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--surface-text);
  background-color: var(--surface);

  --scrim: #14121883;

  --surface: #141218;
  --surface-container: #211f26;
  --surface-container-hover: #007744;
  --surface-2: #2f2d31;
  --surface-2-container-hover: #3e4144;
  --surface-2-container-active: #007744;
  --surface-2-container-active-hover: #008c4f;

  --surface-text: #e1e1e1;
  --surface-container-text: #e7e7e7;
  --surface-2-container-text-active: #c2ffd3;

  --surface-mobile-header: #0c0b0f;

  --display-xl-hero-font-size: 112px;
  --display-xl-font-size: 88px;
  --display-l-font-size: 57px;
  --display-m-font-size: 45px;
  --display-s-font-size: 36px;
  --display-xs-font-size: 24px;

  --divider-width: 15px;
  --divider-margin: 126px auto 0 auto;

  --surface-container-border-radius: 18px;

  --spacer-height: 132px;

  --tile-border-radius: 24px;
  --tile-border-radius-active: 48px;
  --tile-bottom-padding: 24px;

  --tile-grid-min-row-height: 320px;

  --article-max-width: 1200px;
  --container-max-width: 1760px;

  --margin-center: 0 auto;
  --margin-section: 96px auto 0 auto;
  --margin-article: 0 24px;
  --margin-header: 24px;

  --mobile-menu-box-shadow: 2px 0px 11px 0px #0f0d12;
  --mobile-menu-item-border-radius: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--surface-container-text);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

article {
  max-width: var(--article-max-width);
  margin: var(--margin-center);
}

h1 {
  font-size: var(--display-l-font-size);
  line-height: 1.1;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: var(--display-xl-font-size);
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: var(--display-xl-hero-font-size);
  }
}

h2 {
  font-size: var(--display-s-font-size);
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: var(--display-m-font-size);
  }
}

h3 {
  font-size: var(--display-xs-font-size);
}

div.content-container {
  margin: 0 24px;
}

@media screen and (min-width: 600px) {
  div.content-container {
    margin: 0 40px;
  }
}

@media screen and (min-width: 960px) {
  div.content-container {
    margin: 0 88px;
  }
}

div.tiles-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  grid-auto-flow: row;
  grid-auto-rows: minmax(var(--tile-grid-min-row-height), auto);
}

@media screen and (min-width: 600px) {
  div.tiles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tile-surface {
  background-color: var(--surface-container);
  border-radius: var(--tile-border-radius);
  color: var(--surface-container-text);
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-radius 0.2s ease-out;
  overflow: hidden;
  grid-column: span 1;
}

.tile-surface:hover,
.tile-surface:active {
  color: var(--surface-container-text);
  background-color: var(--surface-container-hover);
}

.tile-surface:active {
  border-radius: var(--tile-border-radius-active);
}

.tile-top {
  width: 100%;
  height: 200px;
  border-radius: var(--tile-border-radius);
  overflow: hidden;
}

.tile-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div.tile-bottom {
  padding: var(--tile-bottom-padding);
  display: grid;
  gap: 8px;
}

div.tile-bottom * {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.mobileMenu-button {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 50%;
  font-size: var(--display-xs-font-size);
  background-color: transparent;
  color: var(--surface-container-text);
}

.flex {
  display: flex;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  } */
}
